.container__results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.results{
    font-family: var(--font-family-secondary);
    width: 100%;
    background-color: var(--clr-secondary);
    color: var(--text-clr-secondary);
    padding: var(--padding-medium) 0;
    border-radius: 20px;
}

.result{
    color: var(--clr-light);
}

.result__error{
    color: var(--clr-error);
}

.result--answers{
    width: 100%;
}

.results--actions{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-medium);
}

.btn--share{
    background-color: var(--clr-share);
    color: var(--text-clr-secondary);
}

@media only screen and (max-width: 600px) {
    .container__results{
        width: 100%;
    }
}

