.navbar__title{
    font-family: var(--font-family-secondary);
    margin: 0;
}

.navbar__title a{
    color: var(--text-clr-secondary)
}

.navbar__item a{
    font-weight: 900;
}

.navbar__item:hover{
    color: var(--clr-light);
    border: none;
}

.navbar__item:hover a{
    color: var(--clr-light);
}

.hide{
    display: none;
}

.quiz--nav{
    overflow: visible;
}

.search__container{
    display: flex;
    min-width: 10rem;
    border: 1px solid var(--clr-grey);
    padding: var(--padding-small);
    border-radius: 5px;
}

.search__input{
    border: none;
    padding: var(--padding-small);
    color: var(--text-clr-secondary);
    font-size: 1.6rem;
    background: transparent;
}

.search__input:focus{
    outline: none;
}

.search__items{
    width: 100%;
    min-height: 4rem;
    max-height: 40rem;
    background-color: #f4f4f5;
    position: absolute;
    display: none;
    margin-top: var(--margin-small);
    padding-top: var(--padding-small);
    z-index: 3;
    overflow-y: auto;
    border: 1px solid var(--clr-grey);
}

.search__items--display{
    display: block;
}

.search__items--mobiledisplay{
    display: none;
}

.search__items--list{
    padding: var(--padding-small);
}

.search__items--list:hover{
    cursor: pointer;
    background-color: var(--clr-grey);
}

.search__items .search__items--list{
    font-weight: 100;
    color: #000000;
}

.mobile__search__container{
    display: none;
    border-bottom: 1px solid var(--clr-grey);
    padding: var(--padding-small)
}

.moon span, .sun span{
    display: none;
}

.moon, .sun{
    margin-right: 0;
}

.moon i, .sun i{
    margin-right: 0;
}

@media only screen and (max-width: 800px) {
    .search__container{
        display: none;
    }

    .mobile__search__container{
        display: block;
    }

    .search__input{
        color: var(--text-clr-primary)
    }

    .mobile__search__container{
        display: flex;
        align-items: center;
        padding: var(--padding-small)
    }

    .mobile__search__container{
        border-bottom: 1px solid var(--clr-dark-grey);
    }

    .mobile__search__container .search__input{
        flex-grow: 1;
    }

    .Games-search{
        display: none;
    }

    .search__items--mobiledisplay{
        display: block;
    }

    .search__items{
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) {

    .navbar__item:hover{
        color: var(--clr-primary);
        border: none;
    }

    .navbar__item:hover a{
        color: var(--clr-primary);
    }

    .navbar__menu{
        display: block;
        font-size: var(--text-large);
        margin-top: var(--margin-small);
        margin-left: var(--margin-medium);
    }

    .navbar__list-container{
        display: none;
    }

    .navbar__display{
        display: flex;
    }

    .moon span, .sun span{
        display: inline-block;
    }

    .moon i, .sun i{
        margin-right: var(--margin-medium);
    }

    
}